@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --themeColor1: var(--themeColor1);
  --themeColor2: var(--themeColor2);
  --themeColor3: var(--themeColor3);
  --themeColor4: var(--themeColor4);
  --themeColor5: var(--themeColor5);
  --roundGradient: var(--roundGradient);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: var(--font-urbanist);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --themeColor1: #03045e;
  --themeColor2: #0077b6;
  --themeColor3: #00b4d8;
  --themeColor4: #90e0ef;
  --themeColor5: #caf0f8;

  --mainGradient: linear-gradient(
    90deg,
    var(--themeColor1),
    var(--themeColor2),
    var(--themeColor3),
    var(--themeColor4),
    var(--themeColor5)
  );

  --roundGradient: radial-gradient(
    circle,
    var(--themeColor6),
    var(--themeColor3),
    var(--themeColor5)
  );
  --active: var(--themeColor1);
  --radius: 0.625rem;
  --background: black;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-urbanist: "Urbanist", sans-serif;
}

.dark {
  --active: #fd853a;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-urbanist);
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

.heroBg {
  background-image: url("../../public/assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.heroScreen {
  transform: rotateX(-51deg) rotateZ(33deg);
  border-radius: 32px;
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
}

.screenShadow {
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
}
.heroText {
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(1px);
}
.textGradient {
  text-shadow: 0px 0px 60px #fff;
  color: transparent;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  z-index: 0;
}
.textGradient::before {
  content: "";
  position: absolute;
  inset: 20;
  background: linear-gradient(
    90deg,
    #67555e,
    #8e5d76,
    #c7669c,
    #c937d8,
    #8d23e6,
    #3a65c8,
    #4a5b84,
    #535561
  );
  filter: blur(25px);
  z-index: -1;
  pointer-events: none;
}

.bgGradient {
  /* background: var(--mainGradient) !important; */
}
.circularGradient {
  /* background: var(--roundGradient); */
  background-image: url("../../public/assets/images/circle-bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  /* opacity: 0.7; */
  backdrop-filter: blur(5px);
}
.floatingHeader {
  /* background: var(--roundGradient); */
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px) !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.floatIt {
  animation: floating 5s ease-out infinite;
}
@keyframes floating {
  0%,
  100% {
    translate: 0px;
  }
  50% {
    translate: 0px -15px;
  }
}
.sidebarBtn {
  cursor: pointer !important;
  display: flex;
  z-index: 99999 !important;
}
.sidebarBtn svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebarBtn .active svg {
  transform: rotate(90deg);
}
.sidebarBtn path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebarBtn path:nth-child(1) {
  transform-origin: 36% 40%;
}
.sidebarBtn path:nth-child(2) {
  stroke-dasharray: 29 299;
}
.sidebarBtn path:nth-child(3) {
  transform-origin: 35% 63%;
}
.sidebarBtn path:nth-child(4) {
  stroke-dasharray: 29 299;
}
.sidebarBtn path:nth-child(5) {
  transform-origin: 61% 52%;
}
.sidebarBtn path:nth-child(6) {
  transform-origin: 62% 52%;
}
.sidebarBtn .active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.sidebarBtn .active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.sidebarBtn .active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.sidebarBtn .active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.sidebarBtn .active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.sidebarBtn .active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
